# Package dependencies
requests
cachetools
pyyaml
pika
prompt_toolkit
pygments
python-dateutil
protobuf
schema
solrq
validators
keyring;platform_system=='Darwin'
boto3

# Dev dependencies
pytest==5.4.2
pymox==0.7.8
coverage==5.1
coveralls==2.0.0
flake8==3.8.1
flake8-colors==0.1.6
flake8-docstrings==1.5.0
pre-commit>=2.15.0
